<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.aeg2000srl.aeron" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="it.aeg2000srl.aeron.entities" />

        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ProductsActivity"
            android:label="@string/title_activity_products" >
        </activity>
        <activity
            android:name=".views.CustomersActivity"
            android:label="@string/title_activity_customers" >
        </activity>
        <activity
            android:name=".views.OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name=".views.CustomerDetailsActivity"
            android:label="@string/title_activity_customer_details" >
        </activity>
        <activity
            android:name=".views.OrdersHistoryActivity"
            android:label="@string/title_activity_orders_history" >
        </activity>
        <activity
            android:name=".views.WaitingOrdersActivity"
            android:label="@string/title_activity_waiting_orders" >
        </activity>
        <activity
            android:name=".views.OrderIcewerActivity"
            android:label="@string/title_activity_orders_icewer" >
        </activity>
    </application>

</manifest>
